@font-face {
    font-family:'StudioFeixenSansTrial-Medium, sans-serif';
    src: url('./fonts/StudioFeixenSansTrial-Medium.otf');
}

body{
    font-family: 'StudioFeixenSansTrial-Medium, sans-serif'!important;
}