@font-face {
    font-family: 'Studio Feixen Sans Trial', sans-serif;
    src: url('./fonts/StudioFeixenSansTrial-Regular.otf');
  
    font-family: 'Fashionable';
    src: url('./fonts/Fashionable.otf');
  }
  body {
    font-family: 'Studio Feixen Sans Trial', sans-serif;
    color: black;
  }
  .navbar-nav a {
    font-size: 20px;
    font-weight: 500px;
  }
  .navbar-light .navbar-brand {
    font-family: 'Fashionable';
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.5px;
  }
  .btn-navbar {
    background-color: #ffb358;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .about-text h1 {
    color: #2e2d2d;
    font-size: 7vh;
    font-weight: bold;
  }
  .about-text h1,
  span {
    font-family: 'Fashionable';
  }
  .about-text span {
    position: relative;
    z-index: 10;
  }
  
  .elegance {
    font-size: 12vh;
    color: #2e2d2d;
    /* font-weight: bold; */
  }
  .about-img {
    /* background-color: #ffb358; */
    max-height: 1102px;
    position: static;
    z-index: 2;
  }
  .about-button .cta {
    background-color: #ffb358;
    border-radius: 40px;
  }
  .more {
    width: 100px;
    height: 80px;
    position: relative;
    left: -55px;
    bottom: 100px;
  }
  .now {
    background-color: #ffb358;
    border-radius: 40px;
    margin-right: 20%;
    margin-top: -20px;
  }
  .card-one,
  .card-three {
    background-color: #ffb358;
    border: 1px solid #ffb358;
  }
  .card-two,
  .card-four {
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  .card-one img,
  .card-three img,
  .card-two img,
  .card-four img {
    max-width: 80px;
    max-height: 80px;
  }
  
  a {
    text-decoration: underline;
    color: #000000;
  }
  