@font-face {
    font-family: 'Studio Feixen Sans Trial', sans-serif;
    src: url('./fonts/StudioFeixenSansTrial-Regular.otf');
    font-family: 'Fashionable';
    src: url('./fonts/Fashionable.otf');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Studio Feixen Sans Trial', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
section {
    background-color:#F1F1F1 ;
    padding: 10px;
    display: flex;
    flex-direction:column;
    width: 500px;
    border-radius: 25px;
}

section h1 {
    text-align: center;
    font-size: 3rem;
    padding-top: 50px;
    margin-bottom: 20px;
}
section p {
    text-align: center;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction:column;
}
form input{
    margin: 5px 0;
    padding: 5px 5px;
    border-radius: 6px;
    background-color: #F1F1F1;
    border-style: none;
    padding-bottom: 20px;
    margin-bottom:15px;
}
form input[type='submit']{
    background-color: #FFB358;
    border-radius:10px ;
    width: 150px;
    margin: 80px;
    margin-left: 35%;
    padding:10px;
}
.Erreur{
    color: red;
    margin: 5px 0 px;
    text-align: center;
}